<div class="nested-fields form-inline">
  <div class="form-group">
      <%= f.fields_for :assigns do |assign| %>
        <%= assign.collection_select :id, @user, :id, :name, {}, :class => 'col-lg-12 team-member'%>
      <%- end %>
  </div>
	<%= link_to_remove_association "delete", f, class:"btn btn-default" %>
</div>
