/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap";
 @import "font-awesome";
 @import "tempusdominus-bootstrap-4.css";

body{
  background-color: #E1E3E4;
  color: #5D5D5E;
  font-family: 'Hannotate TC','HanziPen SC','Osaka','TsukuARdGothic-Regular','klee',sans-serif;
}

 .clearfix::after{
    content: "";
    display: block;
    clear: both;
 }

.status{
  display: inline-block;
}

.teams, .assign_form{
  display: none;
}

.comment-form{
  height: 100%;
}

.chatting{
  display: inline-block;
}

.comment-notice{
  display: none;
}
.comment-top {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 250px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #F6F6F6;
  border: solid 3px #555;
  box-sizing: border-box;
  border-radius: 10px;
}

.comment-top:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  margin-top: -12px;
  border: 11px solid transparent;
  border-right: 11px solid #F6F6F6;
  z-index: 2;
}

.comment-top:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -28px;
  margin-top: -14px;
  border: 13px solid transparent;
  border-right: 13px solid #555;
  z-index: 1;
}

.comment-top p, .comment-name p{
  margin: 0;
  padding: 0;
}
.comment-name{
  display: inline-block;
}

.mycomment {
  float: right;
  position: relative;
   display: inline-block;
   margin: 1.5em 15px 1.5em 0;
   padding: 7px 10px;
   min-width: 70%;
   max-width: 100%;
   height: 100px;
   color: #555;
   font-size: 16px;
   background: #F6F6F6;
   border: solid 3px #555;
   box-sizing: border-box;
   border-radius: 10px;
}

.mycomment:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #F6F6F6;
  z-index: 2;
}

.mycomment:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #555;
  z-index: 1;
}

.mycomment p{
  margin: 0;
  padding: 0;
}

.border-secondary{
  border: 1px solid #000;
  height:100%;
  background-color: #ffffff;
}


.link{
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 15px;
}

.card .bg-success{
  background-color: #fbfbfb!important;
  border-bottom: none;
  border-left: 6px solid  #4DADA1;
}

.card .bg-danger{
  background-color: #fbfbfb !important;
  border-bottom: none;
    border-left: 6px solid #DF907C;
}

.border-success, .border-danger{
  border-color: #dcdcdc !important;
  border: 1px solid #dcdcdc !important;
}

.card{
  border-radius: 0;
}

.card-header:first-child {
    border-radius: 0;
}


.btn-light{
  background-color: #ECD070;
  border-color: #ECD070;
}

.btn-light:hover, .btn-light:active{
  background-color:#ecb170;
  border-color: #ecb170;
}
.btn-info{
  background-color: #4DADA1;
  border-color: #4DADA1;
}

.btn-info:hover, .btn-info:active{
  background-color: #3d8a80;
  border-color: #3d8a80;
}

.btn-danger{
  background-color: #DF907C;
  border-color:  #DF907C;
}

.btn-danger:hover, .btn-danger:active{
  background-color: #df7c81;
  border-color:  #df7c81;
}

.btn-success{
  background-color: #83BAD6;
  border-color:  #83BAD6;
}

.btn-success:hover, .btn-success:not(:disabled):not(.disabled):active{
  background-color: #83a5d6;
  border-color:  #83a5d6;
}
.btn-success:focus, .btn:focus{
  box-shadow: none;
}
.search-button{
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  border: none;
  border-left: none;
}

h1{
  font-family: 'Bradley Hand','Apple Chancery','Chalkboard','Chalkduster','Comic Sans MS','DIN Condensed','Noteworthy','Papyrus-Condensed','Silom','Zapfino',sans-serif;
}

.edit-comment, .delete-comment{
  background-color: #fff
}

.no-link, .no-link:hover{
  color: #000;
}

.layout-form{
  -webkit-appearance:none;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}

.layout-btn{
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  border-radius: 50%;
}

.edit{
  display: none;
}
.edit-form{
  pointer-events : none;
}

.user-select-box-sub:last-child .edit-form, .team_user-select-box-sub:last-child .edit-form{
  pointer-events: auto;
}
