/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap";
 @import "font-awesome";
 @import "tempusdominus-bootstrap-4.css";

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
body{
  background-color: #E1E3E4;
  color: #5D5D5E;
  font-family: 'Hannotate TC','HanziPen SC','Osaka','TsukuARdGothic-Regular','klee',sans-serif;
}

h1{
  font-family: 'HanziPen SC','Hannotate TC','HanziPen TC','Hannotate SC', sans-serif;
}

.task-index, .btn-sticky, .status, .comment-name {
  display: inline-block;
}

.project-add-user .btn-light, .project-add-user .btn-light:hover{
  background-color: #E1E3E4;
}

.project-add-user{
  margin-top: 2%;
  margin-bottom: 3%;
}

.btn-sticky {
  padding: 0 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #DF907C;/*左線*/
  color: #DF907C;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

.btn-sticky:hover{
  color: #df7c81;;/*文字色*/
}

.fa-star{
  color: #ECD070;
}

.project-name{
  float: right;
}

.comment-notice{
  display: none;
}
.comment-top {
  position: relative;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  color: #555;
  font-size: 16px;
  background: #F6F6F6;
  border: solid 1px #555;
  box-sizing: border-box;
  border-radius: 10px;
}



.comment-top p, .comment-name p{
  margin: 0;
  padding: 0;
}
.faceicon{
  display: inherit;
}
.mycomment {
  float: right;
  position: relative;
   margin: 1.5em 15px 1.5em 0;
   padding: 7px 10px;
   min-width: 50%;
   max-width: 70%;
   color: #555;
   font-size: 16px;
   background: #F6F6F6;
   border: solid 1px #555;
   box-sizing: border-box;
   border-radius: 10px;
}

.mycomment p{
  margin: 0;
  padding: 0;
}

.border-secondary{
  border: 1px solid #000;
  height:100%;
  background-color: #ffffff;
}

.link{
  float: right;
  font-size: 15px;
}

.card .bg-success{
  background-color: #fbfbfb!important;
  border-bottom: none;
  border-left: 6px solid  #4DADA1;
}

.card .bg-danger{
  background-color: #fbfbfb !important;
  border-bottom: none;
    border-left: 6px solid #DF907C;
}

.border-success, .border-danger{
  border-color: #dcdcdc !important;
  border: 1px solid #dcdcdc !important;
}

.card, .card-header:first-child {
  border-radius: 0;
}

.btn-light{
  background-color: #ECD070;
  border-color: #ECD070;
}

.btn-light:hover, .btn-light:active{
  background-color:#ecb170;
  border-color: #ecb170;
}
.btn-info{
  background-color: #4DADA1;
  border-color: #4DADA1;
}

.btn-info:hover, .btn-info:active{
  background-color: #3d8a80;
  border-color: #3d8a80;
}

.btn-danger{
  background-color: #DF907C;
  border-color:  #DF907C;
}

.btn-danger:hover, .btn-danger:active{
  background-color: #df7c81;
  border-color:  #df7c81;
}

.btn-success{
  background-color: #83BAD6;
  border-color:  #83BAD6;
}

.btn-success:hover, .btn-success:not(:disabled):not(.disabled):active{
  background-color: #83a5d6;
  border-color:  #83a5d6;
}
.btn-success:focus, .btn:focus{
  box-shadow: none;
}
.search-button{
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  border: none;
  border-left: none;
}

.edit-comment:hover, .delete-comment:hover, .edit-comment:active, .delete-comment:active{
  background-color: transparent !important;
  border-color: transparent !important;
}
.edit-comment, .delete-comment {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #83BAD6;
  background-color: transparent;
  border-color: transparent; 
}

.edit-comment:before, .delete-comment:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#83BAD6;
  transition: .2s;
}

.edit-comment:hover:before, .delete-comment:hover:before  {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.no-link, .no-link:hover{
  color: #000;
}

.cp_tooltip {
	position: relative;
	display: inline-block;
  cursor: pointer;
  margin: 5px 15px 0 5px
}

.cp_tooltip .cp_tooltiptext {
	position: absolute;
	z-index: 1;
	bottom: 115%;
	left: 0;
	visibility: hidden;
	width: auto;
	white-space: nowrap;
	padding: 0.3em 0.5em;
	transition: opacity 1s;
	text-align: center;
	opacity: 0;
	color: #000;
  border-radius: 6px;
  border: solid 1px #83BAD6;
	background-color:rgba(255,255,255,0.6);
}

.cp_tooltip:hover .cp_tooltiptext {
	visibility: visible;
	opacity: 1;
}

.btn-link{
  color: #83BAD6;
  font-size: 17px;
}

.tab-status{
  width: 24%;
}

.box{
  width: auto;
}

.comment-new .alert-danger{
  background-color: transparent;
  color: #721c24;
}
.comment-new .alert-success{
  background-color: transparent;
}

#edit-mode{
  display: none;
}
.tol{
  width: 100%;
}
.comment-user-name {
  background: linear-gradient(transparent 70%, #83BAD6 70%);
}
@media screen and (max-width:990px) {
  .comment-project{
    margin-right: 15px;
    margin-left: 15px;
  }
  .project-comment-form{
    margin-left: 0px;
  }
  .btn-outline-dark{
    margin-left: 0px;
  }
}

