<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>
あなたのEメールアドレスがに変更されていることをお知らせするためにあなたに連絡しています <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>あなたのEメールアドレスがに変更されたことを通知するためにあなたに連絡しています
 <%= @resource.email %>.</p>
<% end %>
